<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - dashboard</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/dashboard.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/c9c4c6fda6.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav>
            <ul class="menu">
                <li>
                    <h4>Clientes</h4>
                </li>
                <li>
                    <a href="#" class="btn btn-warning">
                        <i class="fa-solid fa-user-plus" style="color: #050505"></i>
                        Nuevo Cliente
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Bryan Ignacio
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
